@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
  } /*16px*/
  
  body {
    background: #f2f3f5;
    font-weight: 400;
    color: #383838;
  }